<%= form_for([current_user, @post], html: { class: 'ui form error' }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <%= f.label :post_date %><br>
    <%= f.date_select :post_date %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <%= f.check_box :published %>
      <%= f.label :published %>
    </div>

  </div>
  <div class="actions">
    <%= f.submit '送出', class: 'ui button' %>
  </div>
<% end %>

<%= javascript_tag "script" do %>
  $('select[id*="post_post_date"]').wrap('<div class="field">');
<% end %>