<div class="ui six wide column centered grid">
  <div class= "column">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Id:</strong>
      <%= @post.id %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @post.user_id %>
    </p>

    <p>
      <strong>Post date:</strong>
      <%= @post.post_date %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @post.content %>
    </p>

    <p>
      <strong>Published:</strong>
      <%= @post.published %>
    </p>

    <% if params[:user_id].present? %>
      <%= link_to 'Back', user_posts_path %>
    <% else %>
      <%= link_to 'Back', posts_path %>
    <% end %> 
  </div>
</div>