<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item">
      Nikomica
    </div>
    <%= link_to('首頁', root_path, class: 'item') %>
    <%= link_to('消息發布', posts_path, class: 'item') %>
    <div class="right menu">
      <div class="item">
        <% if current_user %>
          <%= link_to('個人文章', user_posts_path(current_user), class: 'ui primary button') %>
          <%= link_to('登出', destroy_user_session_path, method: :delete, class: 'ui primary button') %>
          <%= link_to('修改資料', edit_registration_path(:user), class: 'ui primary button') %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user), class: 'ui primary button') %>
          <%= link_to('登入', new_session_path(:user), class: 'ui primary button') %>
        <% end %>
      </div>
    </div>
  </div>
</div>